@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


#active{
    border-bottom: 1px solid white;
}


#hero{
    font-family: 'Carter One', cursive;
}

.hidden{
    display: none ;
}

.visible{
    display: inline;
}

#info{
    margin-left: 30px !important;
    border-color: gray !important;
}

.totaltr{
    font-weight: bold !important;
}

@media screen and (max-width: 600px) {
    #info {
      margin-left: 30px !important;
      margin-right: 30px !important;
    }
}

@media screen and (max-width: 599px) and (min-width: 200px) {
    #info {
      margin-left: 0px !important;
      margin-right: 0px !important;
      overflow:scroll; 
      width:100%;
    }
}
