.
li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
  background-color: lightgray;
}

.content
{
  background-color: lightgray;
}



.copyright,  .impressum
{
  text-align: center;
  height: 6vh;
  font-size: 20px;
}

.logo
{
  height: 8vh;
}

@media (max-width: 768px)
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .sozial
  {
    margin-bottom: 1vh;
  }
}
